{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}Список маршрутов{% endblock title %}

{% block content %}
    <div class="row my-3">
        <div class="col d-flex align-items-center">
            <h1 class="d-inline-block mb-0">Маршруты</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert d-flex align-items-center alert-dismissible fade show alert-{{ message.extra_tags }}"
                         role="alert">
                        <div class="me-2">{% message_icon message.extra_tags %}</div>
                        <div>{{ message }}</div>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Рейс</th>
                        <th>Город отправления</th>
                        <th>Город назначения</th>
                        <th>Время в пути</th>
                        <th>Стоимость</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for route in route_list %}
                        <tr>
                            <td>
                                <a href="{{ route.get_absolute_url }}">{{ route.number }}</a>
                            </td>
                            <td>
                                {{ route.origin }}
                            </td>
                            <td>
                                {{ route.destination }}
                            </td>
                            <td>
                                {{ route.duration }}
                            </td>
                            <td>
                                {{ route.price }} ₽
                            </td>
                            <td class="text-end">
                                <a class='text-dark d--inline-flex mx-2'
                                   href="{% url 'routes:route_update' pk=route.pk %}"><i
                                        class="bi bi-pencil"></i></a>
                                <a class='text-danger d-inline-flex mx-2'
                                   href="{% url 'routes:route_delete' pk=route.pk %}"><i
                                        class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}