{% for route in routes %}
    <div class="card border-dark mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    Количество пересадок: {{ route.flights|length|add:-1 }}
                    <div style="--bs-breadcrumb-divider: '>';">
                        <ol class="breadcrumb mb-0">
                            {% for city in route.waypoints %}
                                <li class="breadcrumb-item fs-4">{{ city }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="col-3 text-end">
                    <p class="mb-2"> {{ route.duration }} <i class="bi bi-clock-history px-1"></i></p>
                    <p class="mb-0"> {{ route.price }} ₽ <i class="bi bi-wallet2 px-1"></i></p>
                </div>
            </div>
        </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Рейс</th>
                            <th scope="col" class="text-end">Время в пути</th>
                            <th scope="col" class="text-end">Стоимость</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for flight in route.flights %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ flight.origin }} &mdash; {{ flight.destination }}</td>
                                <td class="text-end">{{ flight.duration }}</td>
                                <td class="text-end">{{ flight.price }} ₽</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% empty %}
        <div class="card-body text-secondary">
            <div class="card-body text-secondary">
                <p class="card-text">По вашему запросу маршрутов не найдено, попробуйте изменить параметры запроса</p>
            </div>
        </div>
{% endfor %}