{% extends 'base.html' %}
{% block title %}Error 403{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>403 Forbidden</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Для просмотра этого материала требуются специальные права</p>
            <p>Попробуйте войти на сайт под пользователем с этими правами:</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
        </div>
    </div>
{% endblock content %}